@model IEnumerable<NelQuiz.Models.Answeroptions>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (ViewBag.quizid != null)
{
    <p>
        <a asp-action="Create" asp-controller="Answeroptions" asp-route-quizid="@ViewBag.quizid">Create New</a>
    </p>
}
else
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<hr />
@if (ViewBag.myquizes != null)
{
    <h3><a asp-action="Index" asp-controller="Questions" asp-route-assessmentid="@ViewBag.quizid">Question:  </a></h3>
    <h2>@ViewBag.myquizes</h2>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrectAnswer)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCorrectAnswer)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
